tests/core-functional-tests/src/test/resources/execution-service-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:file="http://www.mulesoft.org/schema/mule/file"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
               http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd">


    <http:request-config name="requesterConfig">
        <http:request-connection host="localhost" port="${httpPort}"/>
    </http:request-config>

    <file:config name="fileConfig">
        <file:connection workingDir="${workingDir}/files"/>
    </file:config>

    <flow name="set-payload-flow">
        <set-payload value="SUCCESS"/>
    </flow>

    <flow name="file-flow">
        <file:read path="${workingDir}/files/payload.txt"/>
        <file:read path="payload.txt" config-ref="fileConfig"/>
    </flow>

    <flow name="http-flow">
        <http:request config-ref="requesterConfig" path="mockedServer" method="GET"/>
    </flow>

</mule>