modules/extensions-spring-support/src/test/resources/static-metadata-execution.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:metadata="http://www.mulesoft.org/schema/mule/metadata"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
               http://www.mulesoft.org/schema/mule/metadata http://www.mulesoft.org/schema/mule/metadata/current/mule-metadata.xsd">

    <flow name="receiveJsonInputStream">
<!--        <set-payload value="#[output application/java -&#45;&#45; write({}, 'application/json')]"/>-->
        <set-variable variableName="test" value="#[output application/json --- write({}, 'application/json')]"/>
        <metadata:receive-json-input-stream >
            <metadata:json-value>
                #[vars.test]
            </metadata:json-value>
        </metadata:receive-json-input-stream>
    </flow>

</mule>
